@import url(reset.css);

/* 共用 */
body{
    background-color: #fff;
    font-family: 'Noto Sans TC', sans-serif;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}

.icon ul{
    display: inline-flex;
}

.icon li a{
    display: block;
    width: 24px;
    overflow: hidden;
}
.icon li img{}
button:hover{cursor: pointer}

/* header */
header{
    height: 90px;
    display: flex;
    box-sizing: border-box;
    /* 固定 */
    /* width: 1366px; */
    /* margin: 0 auto; */
    /* 固定 */
}

.logo{
    padding-top: 20px;
    padding-left: 37px;
    flex-grow: 2;
}
.logo img{
    max-width: 100%;
}

header>nav{
    flex-grow: 4;
    margin: 0 auto;
    min-width: 40%;
}
.bars{

    height: 90px;
    line-height: 90px;
    font-size: 24px;
    width: 60px;
    text-align: center;
    margin: 0 10px;

    display: none;
    order:1;
    cursor: pointer
}
header>nav ul{
    justify-content: flex-end;
    display: flex;
}
header>nav>ul>li{
    flex-grow: 1;
    /* border: #222 1px solid; */
}

header>nav a{
    display: block;
    text-align: center;
    font-size: 24 px;
    height: 90px;
    line-height: 90px;
    /* margin: 0 5px; */
    transition: .5s;
    
    color: black;
}
header>nav a:hover{
    background-color: #333;
    color:#fff;
    letter-spacing: 5px;    
}
header>nav .here{
    background-color: black;
    color:#fff
}
header .icon{
    padding-right: 5%;
    height: 90px;
    line-height: 90px;
    position: relative;
}

header .icon a{
    margin: 5px 6px 0;
}
.t_i_1{}

.t_i_2{
    transform: translateX(-34px);
}

.t_i_3{
    transform: translateX(-68px);
    
}
.cart_count{
    position: absolute;
    top: 20px;
    left: 95px;
    color: white;
    background-color: brown;
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
}

@media screen and (max-width:767.98px ) {
    /* .logo{
        max-width: 268px;
    } */
    header{
        position: fixed;
        background-color: #fff;
        width: 100%;
        top: 0;
        z-index: 5;
    }
    
    .bars{
        display: inline-block;
        
    }    
    header .icon{
        padding-right: 0;
        
    } 
    header>nav ul{
        position: fixed;
        z-index: 5;
        right: -70%;
        top: 90px;
        display: block;
        background-color: rgba(255,255,255,.9);
        width: 60%;
        height: calc(100vh - 90px);

        transition: .5s;
    }
    header>nav ul.-on{
        right: 0;
    }
}
@media screen and (max-width:414px ) {
   
} 
/* 中間共用標題 */


.p_main{
    /* width: 1366px; */
    width: 90%;
    margin: 0 auto;
    /* background-color: #999; */
}
.p_main>article {
    padding-top: 70px;
}
.p_main article>ul p{
    color:#999;
    font-size: 15px; 
}
.p_main article>ul a{
   color: #999;
   font-size: 15px;
}
.p_main>article>ul>li:first-child{
    margin-left: 5%;
    padding-left: 10px;
}
.p_main>article>ul{
    display: flex;
}
.p_main>article>ul>li:last-child a{
color: #222;
}
/* 標題 */
.p_main article div{
    margin: 10px auto 0;
    padding: 10px;
    background-color: black;
    box-sizing: border-box;
    height: 58px;
    width: 90%;
}
.p_main>article h2{
    color: white;
    width: 180px;
    line-height: 1.6;
    border-bottom: 1px solid white;
    font-weight:bold ;
    font-size: 24px;
}
/* 左邊nav */
.p_main nav>h3{
    /* width: 100px; */
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #A88787;

}
.p_main nav button{
    padding-left: 20px;
    border: none;
    background-color:transparent ;
    font-size: 18px;
    line-height: 2;
}
@media screen and (max-width:767.98px ) {
    .p_main{
        margin-top: 90px;
    }
    div.p_main>nav{
        margin: 0 0 0 5%;
        width: 90%;
        text-align: center;
    }
    div.pro>nav{
        margin: 0;
    }
    .p_main nav>ul{
        transition: .5s;

        height: 0;
        overflow: hidden;
    }
    .p_main nav>h3{
        width: 100%;
        background-color: #A88787;
        color: #fff;
        margin: 0;
        padding: 10px;
        box-sizing: border-box;
        font-size: 18px;
        font-weight: normal;
        cursor: pointer
    }
    .p_main nav button{
        width: 100%;
        font-size: 12px;
    }
}
@media screen and (max-width:414.98px ){
    div.pro>nav{
        display: none;
    }
}
/* 主要區塊 */
.pro{
    display: flex;
    margin-left: 5%;
    margin-top: 50px;
    justify-content: space-between;
    width: 90%;
}
.pro>nav{
    margin-left: 10px;
    width: 20%;
}

/* footer */

footer{
    background-color: black;
    color:white;
    font-size: 14px;
    height: 270px;
    padding: 30px 37px 20px;
    box-sizing: border-box;

     /* 固定寬 */
    /* width: 1366px; */
    /* margin: 0 auto; */
    /* 固定寬 */
}
footer a{
    color:white;
}
footer article{
   
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
}

footer nav>p{
    margin-bottom: 15px;
}

footer ul{
    line-height: 1.6;
}

footer ul li{}
footer ul li a{}

footer input{
    border: none;
    border-bottom:1px solid white;
    background-color: transparent;
    color: white;
    margin-top: 15px;
    

}
footer .ipt{
    margin-left: -16px;
}

.input{}
/* 底部 */
.f_bottom{
    display: flex;
    justify-content: space-between;
}
/* 聲明 */
.f_{
    margin-top: 50px;
    font-size: 12px;
    flex-grow: 8;
    /* padding-bottom: 30px; */
}

.f_ p{}

.f_ a{
    text-decoration: underline;
    transition: .5s;
}
.f_ a:hover{
    color:#A88787;
    
}
/* icon */
footer .icon{
    margin-top: 70px;
}
footer .icon li{
    margin-left: 12px;
}

.icon i{
    font-size: 24px;
    transition: all 0.5s;
}

.icon .fa-instagram:hover{
    /* 文字漸層 */
    background: linear-gradient(170deg, #3344f2 20%,#b5299f 40%, #f52263 50%,#fe8d26 80%);
        -webkit-background-clip: text;
        color: transparent;
}
.icon .fa-facebook-square:hover{
    color:#385c98;
}
.icon .fa-twitter:hover{
    color:#29aae3;
}

@media screen and (max-width:767.98px ){
    footer{
        box-sizing: content-box;
    }
}
@media screen and (max-width:414.98px ){
    footer{
        height: 100%;
    }
    footer article{
        display: block;
        text-align: center;
     }
    footer>article>nav{
        margin-bottom: 20px;
        
    }
    footer>article>nav>ul{
        font-size: 12px;
        height: 0;
        overflow: hidden;
        transition: 0.5s;
    }
    footer>article>nav>.-on{
        height: 76.75px;
    }
}