

/* 介紹頁 */
.d_main{
    max-width: 1220px;
    width: 90%;
    margin: 0 auto;
}
@media screen and (max-width:767.98px ) {
    .d_main{
        margin-top: 90px;
        
    }
}
.d_main_t{
    display: flex;
    flex-wrap: wrap;
}
.d_main_t img{
    max-width: 280px;
    width: calc((100% - 30px) / 2);
    margin-bottom: 30px;
}
.d_main_t img:first-child{
    max-width: 590px;
    width: 100%;
}
.d_t_img{
    margin-right: 30px;
}
.d_main_t img:last-child{
    max-width: 590px;
    width: 100%;
}
/* 下半 */
.d_down{
    display: flex;
    max-width: 1220px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    /* max-height: 1400px; */
}

.d_down img{
    max-width: 590px;
    width: 100%;
}
.d_down img:first-child{
}
.d_down article{
    max-width: 590px;
    width: 100%;
    padding: 30px;
    margin-bottom: 50px;
    box-sizing: border-box;
}

.d_down h2{
    font-size: 24px;
    color: #A88787;
    line-height: 2;
    font-weight: bold;
}
.d_down p{
    font-size: 14px;
    line-height: 1.6;
}

@media screen and (min-width:1312px){
    .d_down article{
        margin: 80px 0;
    }
    .d_down img:first-child{
        order: 0;
    }
    .d_down article:nth-child(2){
        order: 1;
    }
    .d_down img:nth-child(3){
        order:3
    }
    .d_down article:nth-child(4){
        order:2;
        margin-right: 30px;
    }
    .d_down img:nth-child(5){
        order:4;
    }
    .d_down article:nth-child(6){
        order:5;
    }
    .d_down img:nth-child(7){
        order:7;
    }
    .d_down article:nth-child(8){
        order:6;
        margin-right: 30px;
    }
}
@media screen and (min-width:650px) and (max-width:1311.98px){
    .d_down{
        width: 590px;
        margin: 0 auto;
    }
}
@media screen and (min-width:1000px) and (max-width:1344.98px){
    .d_main_t{
        width: 930px;
        margin: 0 auto;
    }
    .d_main_t img:nth-child(3){
        margin-right: 340px;
    }
}
@media screen and (max-width:999.98px){
    .d_main_t{
        max-width: 590px;
        margin: 0 auto;
    }
    .d_main_t img:nth-child(5){
        margin-right: 0;
    }
}
@media screen and (max-width:767.98px){
    .d_down article{
        padding: 20px;
        margin-bottom: 50px;
    }   
}