
/* 消息 */
.news_right{
    margin-left: 180px;
    width: 70%;
}
.news_right li{
    margin-bottom: 30px;
}
.news_right li>a{
    display: flex;
    /* border: 1px solid black; */
    color: #000;
    position: relative;
}
/* 文字 */
.news_right p{
    margin-top: 20px;
    margin-left: 30px;
    font-size: 14px;
}
.news_right>ul>li>a>img{
    width: 300px;
}
.news_right a p:first-child{
    font-size: 28px;
    margin-bottom: 30px;
}
/* 按鈕 */
.news_right span{
    display: block;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    background-color: #000;

    position: absolute;
    right: 0;
    bottom: 0;
}

/* 消息內頁 */

.news_right article{
    display: flex;
}
.news_right>article>h2{
    color: #000;
    width: 100%;
    font-size: 24px;
    margin-left: 30px;
    margin-top: 150px;
    font-weight: bold;
}
.news_right article>img{
    height: 300px;
}

.news_right>p{
    margin: 0 0 20px;
    height: 200px;
    padding: 30px;
    background-color: #e9e9e9;
    box-sizing: border-box;
}