/* 產品頁 */
/* 右邊 */

.p_main{
    background-image: url(../img/Bgimg.jpg);
}

.p_select{
    margin-top: 50px;
    margin-right: 5%;
    margin-bottom: 50px;
    text-align: right;
    /* width: 100%; */
}
.p_select select{
    width: 90px;
    height: 30px;
}
.p_select::before{
    content: '排序:';
    margin-right: 10px;
    font-size: 18px;
    height: 30px;
}
.p_main>nav{
    margin: 50px 0 0 calc(5% + 10px);
    /* margin-left: calc(5% + 10px); */
    float: left;
}
/* 卡片列表 */

.p_card{
    
    margin-right: 5%;
    margin-left: 20%;
    /* width: 50%; */   
}

.p_card ul{
    /* float:right; */
    display: flex;
    flex-wrap: wrap;
    
    /* border: #000 1px solid; */
}
.p_card li{
    box-sizing: border-box;
    margin:0 0 150px 30px;
    position: relative;
    width: calc((100% - 90px) / 3);
    min-width: 180px;
}
.p_card ul .hide{
    display: none;
}
@media screen and (max-width:767.98px ){
    .p_card{
        margin: 0 auto;
        width: 90%;
    }
    .p_card li{
        margin-left: 30px;
        width: calc((100% - 60px) / 2);
    }
}
@media screen and (max-width:535.98px ){
    .p_card li{
        width: 80%;
    }
}
.p_card img{
    max-width: 100%;
    display: block;
}
.p_card p{
    
    height: 100px;
    padding:10px 30px;
    box-sizing: border-box;
    background-color: #fff;
    line-height: 2;
    font-size: 14px;
    border: #999 solid 1px;
    color: #000;
    /* display: block; */
}
/* 購物車按紐 */
.p_card button{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #000;
    color: #fff;
    border: none;
    width: 45%;
    height: 10%;
    transition: .5s;
    min-width: 80px;
}
@media screen and (max-width:1029.98px ){
    .p_card button{
        width: 60%;
    }
}
@media screen and (max-width:767.98px ){
    .p_card button{
        width: 100%;
        height: 7%;
    }
}
.p_card button:hover{
    
    font-size: 15px;
    /* font-weight: bold; */
}
/* 換頁按鈕 */
.p_page{
    padding: 30px;
}
.p_page ul{
    display: flex;
    justify-content: center;
}
.p_page li{
    margin: 0 15px;
}

.p_page a{
    display: block;
    color:black;
    background-color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    border: 1px solid black;
    box-sizing: border-box;
}
.p_page li .here{
    background-color: black;
    color: #fff;
}


/* 詳細頁 */
.all_main{
    background-image: none;
}
/* 目錄右邊 */
.p_right{
    float: right;
    width: 80%;
    min-width: 320px;
    /* border: #000 1px solid; */
}
.p_right .p_top{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.p_c_left{
    max-width:500px;
}
.p_c_left img{
    width: 100%;
    border: 1px solid black;
}
/* 右邊的右邊 */
.p_c_right{
    width: 40%;
    min-width: 320px;
    box-sizing: border-box;
    margin-left: 30px;
    }
@media screen and (max-width:767.98px){
    .p_c_right{
        margin: 0;
    }
}
.p_c_right h2{
    margin: 50px 0;
    font-size: 24px;
    font-weight: bold;
    }
.p_c_right p{
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 50px;
    height: 90px;
}
/* price */
.p_c_right h3{
    font-size: 24px;
    font-weight: bold;
    height: 90px;
    line-height: 90px;
    border-top: 1px solid #b4b4b4;
    border-bottom: 1px solid #b4b4b4;
}
/* 樣式 */
.how{
    display: flex;
    justify-content: space-between;
    margin: 42px 0;
}
.p_c_right ul{
    
    display: flex;
    justify-content: space-between;
}
.p_c_right .style{
    justify-content: flex-start;
}
.style button{
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border:1px solid #000;
    box-sizing: border-box;
    margin-right: 10px;
}
.style .red{
    background-color: rgb(218, 72, 72);
}
.style .yellow{
    background-color: rgb(255, 218, 123);
}
.style .purple{
    background-color: rgb(204, 95, 226);
}
.p_c_right ul .choose{
    border:3px solid #000;
}
/* 數量 */
.c_btn{
    display: flex;
}
.c_btn button{
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 18px;
   }
.c_btn input{
    width: 50px;
}
/* 按鈕 */

.p_c_right ul:last-child button{
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #000;
    background-color: #fff;
    border: 1px solid black;
    font-size: 14px;
    transition: .5s;
}
.p_c_right ul:last-child li:first-child button{
    background-color: #000;
    color: #fff;
}
.p_c_right ul:last-child button:hover{
    letter-spacing: 5px;
}
/* 底下 */
.p_right h3{
    font-size: 20px;
    margin: 50px 0 40px;
}
.p_right>main article{
    width: 90%;
    overflow: hidden;
}
.p_right>main article ul{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.p_right>main article li{
    border: 1px solid #b4b4b4;
    margin: 20px 10px;
}
.p_right>main article li:first-child{
    margin-left: 0;
}
.p_right>main article li img{
    display: block;
    height: 200px;
}


/* 額外 */
/* circle button */
#contentButton{
	text-align: center;

	width: 50%;
	height: 50px;
    margin: 0 auto;
}
@media screen and (max-width:767.98px){
    
    #contentButton{
        width: 100%;
    }
}
#contentButton li{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #ddd;

	display: inline-block;
	margin: 5px;
}
#contentButton li.clickMe{
	background: #888;
}